@charset "UTF-8";
/**
 * @author: Prénoms Noms OU githubUSERNAME
 */

/* IMPORTER D'ABORD LES POLICES DE CARACTÈRES */

/* IMPORTER LES FICHIERS CSS */
@import url(normalize.css);
@import url(utilitaires.css);
@import url(base.css);

/* AJOUTER UNE TABLE DES MATIÈRES POUR POUVOIR NAVIGUER LA CSS*/

body{

    background-image: url(../images/background-image_1920w.jpg);
    
}

.main {
    margin: 2em;
}
/* ---- Grille de mise en page ---- */
.depart, 
.question, 
.choix,
.resultat{

    display: grid;
    gap: 1em 1em;
    padding: 10px;

}

/* Départ */
.depart{

    grid-template-areas:
        "entete"
        "contenu"
        "gif"
        "bouton";

}
@media only screen and (min-width: 799px) {
    .depart {
        grid-template-columns: auto 20%;
        grid-template-areas:
            "entete gif gif"
            "contenu gif gif"
            "bouton . .";
            
    }
}
@media only screen and (min-width: 1000px) {
    .depart {
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-areas:
            "entete entete gif"
            "contenu contenu gif"
            "bouton . .";
            
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;
    }
    
}
.titre {
    grid-area: entete;
    max-width: 450px; 
}
.contenuDepart {
    grid-area: contenu;
}
.gif {
    grid-area: gif;
}
.boutonDepart {
    grid-area: bouton;
}
.boutonDepart:hover,
.boutonDepart:focus {
    transition: 1s;
    background-color: #FFE071;
}

/* Questions */
.question{

    grid-template-areas: 
    "question"
    "media"
    "choix"
    "message"
    "boutonQ";

}
@media only screen and (min-width: 499px) {
    .question {
        /* grid-template-columns: auto 20%; */
        grid-template-areas:
            "question question"
            "media  media"
            "choix choix"
            "message message"
            "boutonQ boutonQ";
            
    }
}
@media only screen and (min-width: 899px) {
    .question {
        grid-template-areas:
            "question question question question"
            "media media media media"
            "choix choix choix choix"
            "message message message message"
            "boutonQ boutonQ boutonQ boutonQ";
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;
    }
    
}
.enonceQuestion {
    grid-area: question;
}
.image {
    grid-area: media;
}
.video {
    grid-area: media;
    width: 100%;
}
.choix {
    grid-area: choix;
}
.ctnBouton {
    grid-area: boutonQ;
}
.messageBonneReponse {
    grid-area: message;
}
.messageMauvaiseReponse {
    grid-area: message;
}

/* Choix question */
.choix{
    grid-template-areas:
        "a"
        "b"
        "c"
        "d";
    

}
@media only screen and (min-width: 599px) {
    .choix {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "a b"
            "c d";
    }
}
@media only screen and (min-width: 899px) {
    .choix {
        grid-template-columns: 3% 47% 47% 3%;
        grid-template-areas:
            "a . . b"

            "c . . d";
    }
}

.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.c {
    grid-area: c;
}
.d {
    grid-area: d;
}

/* ---- CSS normal ---- */

.cache {
    display: none;
}

.choixQuestion {

    appearance: none;
    overflow: hidden;

}
.texteQuestion {
    padding: 2em;
    background-image: url(../images/svg/boutonReponse.svg); 
    background-repeat: no-repeat;
    background-size:100%;
}
@media(min-width:799px) {
    .texteQuestion {
        background-size: 75%;
    }
}
.testeQuestion__etat:hover {

    transition: 0.2s;
    background-image: url(../images/svg/boutonReponse__hover.svg);
    background-repeat: no-repeat;

}
.choixQuestion:checked + .testeQuestion__etat,
.testeQuestion__etat:focus {
    transition: 0.3s;
    background-image: url(../images/svg/boutonReponse__clicked.svg);
    background-repeat: no-repeat;

}
.bonneReponse {
    background-image: url(../images/svg/boutonReponse__bon.svg);
    background-repeat: no-repeat;
}
.mauvaiseReponse {
    background-image: url(../images/svg/boutonReponse__mauvais.svg);
    background-repeat: no-repeat;
}

.descriptionCache {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
@media(min-width: 799px) {
    .descriptionCache {
        width: 70%;
    }
}

/* .descriptionCache img{
    width: 70%;
} */

/* Bouton des question */
.ctnBouton__bouton {

    padding: 0.5em;
    color: #333;
    background-color: #8FE4FF;
    stroke: #8F1;

}
.ctnBouton__bouton:disabled {
    color: #777;
    background-color: #AAA;
    stroke: none;
}
/* Footer */
footer {

    margin: 10em 0 0 0;
    padding: 5em;
    background-color: #01232E;

}
footer p{

    text-align: center;
    padding: 1em 0 1em 0;
    color: #FFF;

}